.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.visible-xs li {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  width: 100%; /* На всю ширину */
}

.visible-xs li a {
  color: #555;
  padding: 15px;
}

.content-box {
  background-color: #999; 
  color: #fff;
  padding: 20px;
  margin-top: 15px;
  border: 1px solid #333;
  min-height: 1000px; 
}

.long-text {
  margin-top: 400px;
  margin-bottom: 400px;
}

.content-box h3 {
  margin-top: 0;
}
