.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #d9534f !important;
}

.visible-xs li {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
}

.visible-xs li a {
  color: #333333;
  font-weight: bold;
}

.lasagna-box {
  background-color: #999999; 
  color: #ffffff; 
  padding: 25px;
  margin: 20px 0;
  border-radius: 5px;
  min-height: 1200px; 
}

.lasagna-box h3 {
  margin-top: 0;
  font-weight: bold;
  font-size: 2em;
}

.lasagna-box p {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: justify;
}
