/* Внешний файл стилей (никаких инлайн-стилей!) */
#header-nav {
  background-color: #f8f8f8;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.navbar-brand {
  padding-top: 25px;
  font-size: 1.5em;
  font-weight: bold;
}

#nav-list {
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list li a {
  color: #555;
  border-bottom: 1px solid #E7E7E7;
}

.content-box {
  background-color: #999;
  padding: 15px;
  margin: 15px 0;
  color: white;
}

/* Гарантируем высоту для скроллинга */
section {
  min-height: 1000px;
}
